<div id='container'>

	<table width='100%'><tr><td align='center'><table><tr><td>
		<div id='box'>
			<p id='boxHeader'>[% chOwnPWHeader %]</p>
			<div id='boxBody'>
				[% INCLUDE HaCiBox.tmpl
					menu			= chOwnPW
					formName	= chOwnPWFormName
					hiddens   = chOwnPWHiddens
				%]
			</div>
		</div>
	</td></tr></table></td></tr></table>
	<br>

</div>
