<div id='container'>

	<table width='100%'><tr><td align='center'><table><tr><td>
	<div id='box'>
		<p id='boxHeader'>[% searchHeader %]</p>
		[% INCLUDE HaCiBox.tmpl 
			menu			= searchMenu 
			hiddens		= searchHiddens
			formName	= searchFormName
			buttonFocus	= buttonFocus
		%]
	</div>
	</td></tr></table></td></tr></table>
	<br>
	
	[% IF searchResult %]
		<table width='100%'><tr><td align='center'><table><tr><td>
		<div id='box'>
			<p id='boxHeader'>[% searchResultHeader %]</p>
			<div id='boxBody'>
				[% cnter	= 0 %]
				<table id='box'>
					<tr>
						<th>[% gettext_rootName %]</th>
						<th>[% gettext_network %]</th>
						[% IF !bSearchForFree %]
							<th>[% gettext_description %]</th>
							[% IF bShowNrOfFreeSubs %]
											<th>[% gettext_nrOfFreeSubnets %]</th>
							[% END %]
							<th>[% gettext_state %]</th>
							<th>[% gettext_tags %]</th>
							[% FOREACH descrEntry IN tmplDescr %]
								<th>[% descrEntry.value %]</td>
							[% END %]
						[% END %]
					</tr>
					[% IF noSearchResult %]
						<tr><td colspan='2' align='center'>[% gettext_nothing_found %]</td></tr>
					[% ELSE %]
					
						[% FOREACH entry IN searchResult %]
							[% cnter = cnter + 1 %] [% IF cnter mod 2 %] [% bgColor = '#AAFFAA' %] [% ELSE %] [% bgColor = '#DDFFDD' %] [% END %]
								<tr style='background-color:[% bgColor %]'>
								<td>[% entry.rootName %]</td>
								<td><a href='[% entry.url %]'>[% entry.network %]</a></td>
								[% IF !bSearchForFree %]
									<td>[% entry.description %]</td>
									[% IF bShowNrOfFreeSubs %]
										<td>[% entry.nrOfFreeSubs %]</td>
									[% END %]
									<td>[% entry.state %]</td>
									<td>[% entry.tags %]</td>
									[% netID = entry.netID %]
									[% FOREACH descrEntry IN tmplDescr %]
										[% descrValue	= descrEntry.value %]
										<td>[% tmplInfos.$netID.$descrValue %]</td>
									[% END %]
								[% END %]
							</tr>
						[% END %]
					[% END %]
				</table>
			</div>
		</div>
		</td></tr></table></td></tr></table>
	[% END %]
</div>
