<table width='100%'><tr><td align='center'><table><tr><td>
<div id='box'>
	<p id='boxHeader'>[% delUserHeader %]</p>
	[% INCLUDE HaCiBox.tmpl 
		menu			= delUserMenu 
		formName	= delUserFormName
		hiddens		= delUserHiddens
	%]
</div>
</td></tr></table></td></tr></table>
