<table width='100%'><tr><td align='center'><table><tr><td>
<div id='box'>
	<p id='boxHeader'>[% delRootHeader %]</p>
	[% INCLUDE HaCiBox.tmpl 
		menu			= delRootMenu 
		formName	= delRootFormName
		hiddens		= delRootHiddens
	%]
</div>
</td></tr></table></td></tr></table>
