<div id='container'>

	<table width='100%'><tr valign='top'><td align='center'><table><tr><td>
	<div id='box'>
	<p id='boxHeader'>[% pluginConfHeader %]</p>
		[% INCLUDE HaCiBox.tmpl 
			menu			= pluginConfMenu 
			hiddens		= pluginConfHiddens
			formName	= pluginConfFormName
		%]
	</div>
	</td></tr></table></td></tr></table>

	</form>
</div>
