[% FOREACH network IN networks %]
	[% IF network.parent %][% UNLESS network.noDiv %]<div id='[% network.rootID %].[% network.networkDec %]'>[% END %][% END %]
	<div class='tE' [% IF network.bgColor %]style='background-color:#[% network.bgColor %];'[% END %]>
	<div id='tS' style='width:[% network.space %]px;'></div>
	[% IF network.parent %]
		<a class='tE' onClick="[% network.picUrl %]"><img class='tE' src='[% imagepathrel %]/[% IF network.expanded %]minus.gif[% ELSE %]plus.gif[% END %]' /></a>
	[% ELSE %]
		<div id='tSFW'></div>
		[% IF editTree %]
			[% IF network.fillNet %]
				<div id='tSFW'></div>
			[% END %]
		[% END %]
	[% END %]

	[% IF editTree %]
		[% UNLESS network.fillNet %]
			<input
				type	= 'checkbox'
				class	= 'tE'
				name	= 'selectedNetworks'
				id		= 'selectedNetworks'
				value	= '[% network.network %]_[% root.ID %]'
			/>
		[% END %]
	[% END %]
	<div class='tL'>
	[% IF network.netUrl %]
		<a name="[% root.ID %]-[% network.networkDec %]" href="[% network.netUrl %]" class='tLN'><font color='[% network.color %]'>[% network.network %]</font></a>
	[% ELSE %]
		<font color='[% network.color %]'><div class='tLN'>[% network.network %]</div></font>
	[% END %]
	[% IFF network.statePic %]
		<img srv="[% imagepathrel %]/[% network.statePic %]" />
	[% END %]
	</div>
	<p id='tD'>[% network.descr %]</p>
	<div style='clear:left'></div>
	</div>
	[% IF network.parent %][% UNLESS network.expanded %]</div>[% END %][% END %]
	[% IF network.parentBroadcast %]
		[% i = [ 1 .. network.parentBroadcast ] %]
		[% FOREACH i %]
			</div>
		[% END %]
	[% END %]
[% END %]
