<div id='cmntainer'>

	<form name='[% showAuditLogsFormName %]' action='[% thisScript %]' method='post'>
	<input type='hidden' id='buttonTmp_[% showAuditLogsFormName %]' name='buttonTmp' value='' />

	<div style='width:15em;margin:0 auto;'>
		<div id='box' style="width:15em;">
			<p id='boxHeader'>[% showAuditLogsHeader %]</p>
			<div id='boxBody'>
				[% INCLUDE HaCiBox.tmpl
					menu						= showAuditLogsMenu
					hiddens					= showAuditLogsHiddens
					parentFormName	= showAuditLogsFormName
				%]
			</div>
		</div>
	</div>

	<br><br>

	<table width='100%'><tr><td align='center'><table><tr><td>
		<div id='box'>
			<p id='boxHeader'>[% showAuditLogs %]</p>
			<div id='boxBody' style='overflow:scroll;'>
				[% cnter  = 0 %]
				<table id='box' rules='cols' style='margin:0.5em;'>
					<tr>
						<th>[% gettext_timestamp %]</th>
						<th>[% gettext_username %]</th>
						<th>[% gettext_action %]</th>
						<th>[% gettext_object %]</th>
						<th>[% gettext_value %]</th>
						<th>[% gettext_error %]</th>
					</tr>
					[% IF noAuditLogs %]
						<tr><td colspan='6' align='center'>[% gettext_noContent %]</td></tr>
					[% ELSE %]
						[% FOREACH entry IN auditLogs %]
							[% cnter = cnter + 1 %] [% IF cnter mod 2 %] [% bgColor = '#AAFFAA' %] [% ELSE %] [% bgColor = '#DDFFDD' %] [% END %]
							<tr style='background-color:[% bgColor %]'>
								<td align='left'>[% entry.ts %]</td>
								<td align='left'>[% entry.username %]</td>
								<td align='left'>[% entry.action %]</td>
								<td align='left'>[% entry.object %]</td>
								<td align='left'>[% entry.value %]</td>
								<td align='left'>[% entry.error %]</td>
							</tr>
						[% END %]
					[% END %]
				</table>
			</div>
		</div>
	</td></tr></table>
	</form>
</div>

<!--
# vim:ts=2:sw=2:sws=2
-->
