<div id='container'>

	<table width='100%'><tr><td align='center'><table><tr><td>
	<div id='box'>
		<p id='boxHeader'>[% newGroupHeader %]</p>
		<div id='boxBody'>
			[% INCLUDE HaCiBox.tmpl
				menu			= newGroupMenu
				formName	= newGroupFormName
				hiddens		= newGroupHiddens
			%]
		</div>
	</div>
	</td></tr></table></td></tr></table>

	<br>

	<table width='100%'><tr><td align='center'><table><tr><td>
	<div id='box'>
		<p id='boxHeader'>[% showGroupsHeader %]</p>
		<div id='boxBody'>
			[% INCLUDE HaCiBox.tmpl
				menu			= showGroupsMenu
				formName	= showGroupsFormName
				hiddens		= showGroupsHiddens
			%]
		</div>
	</div>
	</td></tr></table></td></tr></table>

</div>
