<table width='100%'><tr><td align='center'><table><tr><td>
<div id='box'>
	<p id='boxHeader'>[% delNetHeader %]</p>
	[% INCLUDE HaCiBox.tmpl 
		menu			= delNetMenu 
		formName	= delNetFormName
		hiddens		= delNetHiddens
	%]
</div>
</td></tr></table></td></tr></table>
