<div id='container'>

	<form name='[% addRootFormName %]' method="post">
	<input type='hidden' id='buttonTmp_[% addRootFormName %]' name='buttonTmp' value='' />

	<table width='100%'><tr><td align='center'><table><tr><td>
	<div id='box'>
	<p id='boxHeader'>[% addRootHeader %]</p>
		[% INCLUDE HaCiBox.tmpl 
			menu			= addRootMenu 
			hiddens		= addRootHiddens
			parentFormName	= addRootFormName
		%]
	</div>
	</td></tr></table></td></tr></table>

	<br>

	<table width='100%'><tr><td align='center'><table><tr><td>
	<div id='box'>
		<p id='boxHeader'>[% rootGroupRightsHeader %]</p>
		[% INCLUDE HaCiBox.tmpl 
			menu	= rootGroupRightsMenu 
			align	= 'left'
			parentFormName	= addRootFormName
		%]
	</div>
	</td></tr></table></td></tr></table>

	<br>

	<table width='100%'><tr><td align='center'><table><tr><td>
	<div id='box'>
		<p id='boxHeader'>[% addRootButtonsHeader %]</p>
		[% INCLUDE HaCiBox.tmpl 
			menu			= addRootButtonsMenu 
			parentFormName	= addRootFormName
		%]
	</div>
	</td></tr></table></td></tr></table>

	</form>
</div>
